body {
  background-color: #f3ebe2;
  margin: 0;
  font-family: "Fraunces", serif;
}

.preview-container {
  display: grid;
  background-color: hsl(0, 0%, 100%);
  grid-template-columns: 1fr;
  place-items: center;
  max-width: 81%;
  margin: 0 auto; /* Center the grid container */
  margin-top: 3rem;
  border-radius: 8px;
}
.preview-container img {
  max-width: 100%;
  border-radius: 8px 8px 0 0;
}

.content-container {
  padding: 1.5rem;
  padding-top: 1rem;
  box-sizing: border-box;
}
/* I'm not sure what this belongs to...haha! If I delete it, the layout is
messed up... */
.info-container {
  display: grid;
}
.product-info h2 {
  margin-top: 0.2rem;
  font-size: 3.2vw;
  letter-spacing: 4px;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}
.product-info h1 {
  margin-top: 0rem;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 1rem;
}
.product-info h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 3.5vw;
  letter-spacing: 0.4px;
  font-weight: 500;
  line-height: 1.5;
  margin-top: 0rem;
  padding-right: 0.5rem;
}
.pricing h3 {
  color: hsl(158, 36%, 37%);
}
footer {
  margin-top: 3rem;
  text-align: center;
}
