body {
  background-color: #f3ebe2;
  margin: 0;
  font-family: "Fraunces", serif;
}

.preview-container {
  display: grid;
  background-color: hsl(0, 0%, 100%);
  grid-template-columns: 1fr;
  place-items: center;
  max-width: 81%;
  margin: 0 auto; /* Center the grid container */
  margin-top: 3rem;
  border-radius: 8px;
}
.preview-container img {
  max-width: 100%;
  border-radius: 8px 8px 0 0;
}

.content-container {
  padding: 1.5rem;
  padding-top: 1rem;
  box-sizing: border-box;
}
/* I'm not sure what this belongs to...haha! If I delete it, the layout is
messed up... */
.info-container {
  display: grid;
}
.product-info h2 {
  margin-top: 0.2rem;
  font-size: 3.2vw;
  letter-spacing: 4px;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}
.product-info h1 {
  margin-top: 0rem;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 1rem;
}
.product-info h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 3.5vw;
  letter-spacing: 0.4px;
  font-weight: 500;
  line-height: 1.5;
  margin-top: 0rem;
  padding-right: 0.5rem;
}
.pricing {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.pricing h3 {
  color: hsl(158, 36%, 37%);
  font-size: 7.5vw;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}
.pricing p {
  font-family: "Montserrat", sans-serif;
  text-decoration: line-through;
  margin-top: 1.3rem;
  font-size: 3vw;
}
button {
  width: 100%;
  background-color: hsl(158, 36%, 37%);
  color: hsl(0, 0%, 100%);
  border-style: solid;
  border-color: hsl(158, 36%, 37%);
  border-radius: 8px;
}
button:hover,
button:active {
  background-color: #194131;
  border-color: #194131;
}

.button-grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
  place-items: center;
}
.button-grid img {
  margin-left: 5.7rem;
}
.button-grid p {
  font-weight: 700;
  margin-right: 4.5rem;
  font-size: 3.5vw;
  margin-top: 0.8rem;
  margin-bottom: 0.6rem;
}
footer {
  margin-top: 3rem;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

/* Larger Screens */

@media only screen and (min-width: 660px) {
  .preview-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 47%;
  }
  .preview-container img {
    width: 100%;
    height: auto;
    border-radius: 8px 0 0 8px;
  }
  .content-container {
    padding: 2rem;
    padding-top: 2rem;
    box-sizing: border-box;
    height: 100%;
  }
  .product-info h2 {
    margin-top: 0rem;
    font-size: 1vw;
    letter-spacing: 5px;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
  }
  .product-info h1 {
    margin-top: 1.3rem;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 1rem;
  }
  .product-info h3 {
    font-family: "Montserrat", sans-serif;
    font-size: 1.18vw;
    letter-spacing: 0.4px;
    font-weight: 500;
    line-height: 1.5;
    margin-top: 1.6rem;
    padding-right: 0.5rem;
  }
  .pricing {
    margin-bottom: 0.8rem;
  }
  .pricing h3 {
    color: hsl(158, 36%, 37%);
    font-size: 2.5vw;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
  }
  .pricing p {
    font-family: "Montserrat", sans-serif;
    text-decoration: line-through;
    margin-top: 1.3rem;
    margin-left: 1.2rem;
    font-size: 1vw;
  }
  .button-grid {
    padding: 0.1rem;
  }
  .button-grid img {
    margin-left: 3.2rem;
    max-width: 20%;
  }
  .button-grid p {
    font-weight: 700;
    margin-right: 2.5rem;
    font-size: 1.2vw;
    margin-top: 0.5rem;
    margin-bottom: 0.6rem;
  }
}
