body {
  font-family: "Montserrat", sans-serif;
  background-color: #f3ebe2;
  margin: 0;
  /* font-family: "Fraunces", serif; */
}

.preview-container {
  display: grid;
  background-color: hsl(0, 0%, 100%);
  grid-template-columns: 1fr;
  place-items: center;
  max-width: 81%;
  margin: 0 auto; /* Center the grid container */
  margin-top: 3rem;
  border-radius: 8px;
}
.preview-container img {
  max-width: 100%;
  border-radius: 8px 8px 0 0;
}
.info-container {
  display: grid;
}
.content-container {
  padding: 1.5rem;
  box-sizing: border-box;
}
footer {
  margin-top: 3rem;
  text-align: center;
}
